
.camperPageFeaturesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  align-content: space-between;
padding: 24px 18px;
background: var(--inputs);
}

.camperPageFeaturesList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}


.camperPageFeaturesListContainer {
  height: auto;
}

.camperPageVehicleContainer {
  height: auto;
}

.camperPageVehicleTitle {
  margin-bottom: 24px;
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--main);
}

@media (min-width: 1440px) {
  .camperPageFeaturesContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    align-content: space-between; */
  padding: 44px 52px;
  /* background: var(--inputs); */
}

.camperPageFeaturesList {
  /* display: flex;
  gap: 8px;
  flex-wrap: wrap; */
  margin-bottom: 0;
}

.camperPageFeaturesListContainer {
    height: 204px
}

.camperPageVehicleContainer {
  height: 296px;
}

.camperPageVehicleTitle {
   margin-bottom: 49px; 
  /* font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);  */
}


}

