.camperPageFormField {
    display: block;
    width: 100%;
    border-radius: 12px;
padding: 18px 18px 18px 18px;
border:none;
height: 60px;
margin-bottom: 14px;
/* width: 527px; */
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gray);

background: var(--inputs);
 
}


.camperPageFormTextArea {
 height:118px;
}

.camperPageFormHeadline {
    margin-bottom: 8px;
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--main);
}

.camperPageFormText {
    margin-bottom: 24px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}

.camperPageFormButton {
    display: block;
    margin-inline: auto;
    border-radius: 200px;
padding: 16px 60px;
width: 166px;
height: 56px;
background: var(--button);
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: var(--white);
border: none;
}