/* ICONS */

.icon {
    width:20px;
    height:20px;
}

.iconFill {
    fill: currentColor;
    stroke: none;
  }
  
  .iconStroke {
    fill: none;
    stroke: currentColor;;
  }
  
  .iconBoth {
    fill: currentColor;;
    stroke: currentColor;;
  }