.equipmentsItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

/* ICONS */

.icon {
  width: 20px;
  height: 20px;
}

.iconFill {
  fill: currentColor;
  stroke: none;
}

.iconStroke {
  fill: none;
  stroke: currentColor;
}

.iconBoth {
  fill: currentColor;
  stroke: currentColor;
}
