.navigationLinkLogo {
    margin-right: 6px;
    display: flex;
    align-items: center;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
}

 
.navigationIcon {
    width: 136px;
    height: 16px;
   
}

.navigationLinks {
    display: flex;
    gap:8px;
}

.linkActive {
    color:red;
}

@media (min-width: 1440px) {
    .navigation {
        display: flex;
        flex-wrap: wrap;
        
    }
    .navigationLinkLogo {
        margin-right: 450px;
        display: flex;
        align-items: center;
        
    }
    
    .navigationLinks {
        display: flex;
        gap:32px;
    }
    
    .link {

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
    }
    
    .linkActive {
        color:red;
    }
    
    .navigationIcon {
        width: 136px;
        height: 16px;
       
    }
}
 

/* .navigation {
    display: flex;
    flex-wrap: wrap;
    
}
.navigationLinkLogo {
    margin-right: 450px;
    display: flex;
    align-items: center;
    
}

.navigationLinks {
    display: flex;
    gap:32px;
}

.link {

font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--main);
}

.linkActive {
    color:red;
}

.navigationIcon {
    width: 136px;

    height: 16px;
   
} */