.navigationLinkLogo {
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigationIcon {
  width: 136px;
  height: 16px;
}

.navigationLinks {
  display: flex;
  gap: 32px;
  transition: color 0.3s ease;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
  transition: color 0.3s ease;
}

.linkActive {
  color: var(--button-hover);
}


@media (min-width: 1440px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
  }
  .navigationLinkLogo {
    margin-right: 450px;
    display: flex;
    align-items: center;
  }

  .navigationLinks {
    display: flex;
    gap: 32px;
  }

 .link:hover,
 .link:focus  {
    color: var(--button-hover); ;
  }
  

  .linkActive {
    color: var(--button-hover);
  }

  .navigationIcon {
    width: 136px;
    height: 16px;
  }
}
