.filterLocationInput {
  margin-bottom: 40px;
  border-radius: 12px;
  padding: 18px 18px 18px 50px;
  width: 100%;
  height: 56px;
  border: none;
  background: var(--inputs);
}

.filterLocationContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filterLocationLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.filtersCheckBoxes {
  display: flex;
  gap: 12px;
}

.filterTitle {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.filterSubtitle {
  position: relative;
  margin-bottom: 48px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.filterSubtitle::after {
  content: '';
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
}

.filtersLabels {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;

  width: 112px;
  height: 96px;
  text-align: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
}

.filterActive {
  border: apx solid red;
  background-color: blue;
}

.filtersContainer {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
}

.filtersLabels {
  color: black;
  transition: border 0.3 ease;
}

.filtersField:checked + .filtersLabels {
  border: 1px solid var(--button);
}

.filtersCheckBoxes {
  margin-bottom: 32px;
}

.filtersRadioContainer {
  margin-bottom: 40px;
}

.filtersButtonSearch {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: var(--button);
  transition: background-color 0.3s ease;
}

.filtersLocationIcon {
  position: absolute;
top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
}
/* ICONS */

.icon {
  width: 32px;
  height: 32px;
}

.iconFill {
  fill: currentColor;
  stroke: none;
}

.iconStroke {
  fill: none;
  stroke: currentColor;
}

.iconBoth {
  fill: currentColor;
  stroke: currentColor;
}

@media (min-width: 1440px) {
  .filterLocationInput {
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 18px 18px 18px 50px;
    width: 360px;
    height: 56px;
    border: none;
    background: var(--inputs);
  }

  .filtersButtonSearch:hover,
  .filtersButtonSearch:focus {
    background: var(--button-hover);
  }

  .filtersCneckboxIcons {
    width: 32px;
    height: 32px;
  }

  .filtersContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .filtersLabels:hover,
  .filtersLabels:focus {
    border: 1px solid var(--button);
  }
}
