:root {
    --main: #101828;
    --text: #475467;
    --white: #fff;
    --inputs: #f7f7f7;
    --badges: #f2f4f7;
    --gray: #6c717b;
    --gray-light: #dadde1;
    --button: #e44848;
    --button-hover: #d84343;
    --rating: #ffc531;
    --font-family: "Inter", sans-serif;
    }

/* NORMALIZE */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

button {
  cursor: pointer;
}

/* style to take away background fron the button on android */
button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  touch-action: manipulation;
  user-select: none;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
  /* background-color: transparent !important; */
  background-color: transparent;
}


/* GENERAL */
/* section {
  padding-top: 10px;
  padding-bottom: 10px
} */

/* .container {
  max-width: 1440px;
  width:100%;
  padding-inline: 64px;
  margin-inline: auto;

} */

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.barloader {
  margin-inline: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.icons {
  width:16px;
  height: 16px;
  stroke: black;
  /* fill: black;
  stroke: black;
  color: black; */
}

.container {
  max-width: 320px;
  width:100%;
  padding-inline: 15px;
  margin-inline: auto;

}
/* .container {
  max-width: 767px;
  width:100%;
  padding-inline: 15px;
  margin-inline: auto;

} */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    width:100%;
    padding-inline: 30px;
    margin-inline: auto;
  
  }
}


@media (min-width: 1440px) {

  .container {
    max-width: 1440px;
    width:100%;
    padding-inline: 64px;
    margin-inline: auto;
  
  }
  
}