.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .campersPageSection {
    padding-top: 48px;
  }

.campersPageContainer {
  display: flex;
  gap: 68px;
}
.campersPageAside {
  max-width: 360px;
  width: 100%;
 
}
.campersPageCatalog {
  max-width: 880px;
  width: 100%;
  order: 1;
}

.campersPageButton {
    display: block;
    margin-inline: auto;
    margin-top: 40px;
    border: 1px solid var(--gray-light);
border-radius: 200px;
padding: 16px 32px;
width: 145px;
height: 56px;

}