.campersPageAside {
  min-width: 290px;
  width: 100%;
  min-height: 1162px;
  height:100%;
}

.campersPageContainer {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.campersPageSection {
  padding-top: 90px;
  padding-bottom: 24px;
}

.campersPageCatalog {
min-height: 3094px;
height: 100%;
}

.campersPageButton {
  display: block;
  margin-inline: auto;
  margin-top: 40px;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  transition:  border 0.3s ease;
}

@media (min-width: 1440px) {
  .campersPageSection {
    padding-top: 108px;
    padding-bottom: 48px;
  }

  .campersPageContainer {
    flex-direction: row;
  }
  .campersPageAside {
    max-width: 360px;
    width: 100%;
  }
  .campersPageCatalog {
    max-width: 880px;
    width: 100%;
    order: 1;
  }

  .campersPageButton:hover,
  .campersPageButton:hover {
    border: 1px solid var(--button-hover);
  }
}
