.notFoundPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.notFoundPageError {
  font-size: 160px;
}

.pageNotFoundHeadline {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.notFoundPageTextContainer {
  display: flex;
}

.notFoundPageLink {
    color: blue;
    margin-left: 6px;
    transition: color 0.3s ease;
  }

.notFoundPageLink:hover,
.notFoundPageLink:focus {
    color:var(--button-hover);
}